@model intelectah.MVC.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<link href="~/css/sign-in.css" rel="stylesheet" />

<body class="d-flex align-items-center justify-content-center min-vh-100 py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto" style="max-width: 400px;" id="login">

        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { id = "loginForm" }))
        {
            <div class="text-center mb-2">
                <h1 class="h3 fw-bold">Login</h1>
                <p class="text-white">Insira seu e-mail e senha abaixo para acessar sua conta</p>
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "floatingInput", placeholder = "nome@exemplo.com" })
                @Html.LabelFor(model => model.Email, "Email", new { @for = "floatingInput" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-floating mb-3">
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", id = "floatingPassword", placeholder = "Senha" })
                @Html.LabelFor(model => model.Senha, "Senha", new { @for = "floatingPassword" })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>

            <button id="loginButton" class="btn btn-primary w-100 py-2" type="button" onclick="FctLogin(event)">
                Login
                <span id="spinnerLogin" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
            </button>

            <a href="/Usuario/Cadastrar" class="btn btn-secondary w-100 mt-2">Criar conta</a>
        }
    </main>
</body>



<script src="~/js/Home/home.js"></script>