@model intelectah.MVC.Models.RegisterUsuarioViewModel


@{
    ViewData["Title"] = "Cadastro";
}


<link href="~/css/sign-in.css" rel="stylesheet" />

<div>
    <main class="form-signin w-100 m-auto" style="max-width: 500px;" id="register">

        @using (Html.BeginForm("CriarConta", "Usuario", FormMethod.Post, new { id = "registerForm" }))
        {
            <div class="text-center mb-2">
                <h1 class="h3 fw-bold">Cadastro</h1>
                <p class="text-white">Preencha todos os campos abaixo para criar sua conta</p>
            </div>

            <div class="form-floating mb-3">
                @Html.DropDownListFor(model => model.NivelAcesso, Model.NivelAcessos, "Selecione o Nível de Acesso", new { @class = "form-control", id = "floatingNivelAcesso" })
                @Html.LabelFor(model => model.NivelAcesso, "Nível de Acesso", new { @for = "floatingNivelAcesso" })
                @Html.ValidationMessageFor(model => model.NivelAcesso, "", new { @class = "text-danger" })
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", id = "floatingNome", placeholder = "Nome" })
                @Html.LabelFor(model => model.Nome, "Nome", new { @for = "floatingNome" })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "floatingEmail", placeholder = "nome@exemplo.com" })
                @Html.LabelFor(model => model.Email, "Email", new { @for = "floatingEmail" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-floating mb-3">
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", id = "floatingPassword", placeholder = "Senha" })
                @Html.LabelFor(model => model.Senha, "Senha", new { @for = "floatingPassword" })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>

            <button id="submitButton" class="btn btn-primary w-100 py-2" type="button" onclick="FctCadastrar(event)">
                Cadastrar
                <span id="spinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
            </button>

            <a href="/Home/Login" class="btn btn-secondary w-100 mt-2">Fazer Login</a>
        }

    </main>
</div>



<script src="~/js/Usuario/usuario.js"></script>
