@model intelectah.MVC.Models.VendaViewModel

@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@{
    ViewData["Title"] = "Cadastrar Venda";
}

<div class="row">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-white" href="@Url.Action("Index", "Dashboard", new { area = "" }, null)"><i class="bi bi-house-door"></i> Dashboard</a></li>
            <li class="breadcrumb-item"><a class="text-white" href="@Url.Action("Vendas", "Venda", new { area = "" }, null)"><i class="bi bi-cart-check"></i> Vendas</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="bi bi-plus-square"></i> Cadastrar</li>
        </ol>
    </nav>

    <div class="col-md-8 offset-md-2 mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h4 class="mb-0">Adicionar Nova Venda</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("CadastrarVenda", "Venda", FormMethod.Post, new { id = "registerVendaForm" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataVenda, "Data da Venda", new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.DataVenda, new { @class = "form-control", placeholder = "Insira a data da venda", type = "datetime-local" })
                        @Html.ValidationMessageFor(model => model.DataVenda, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PrecoVenda, "Preço da Venda", new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.PrecoVenda, new { @class = "form-control", placeholder = "Insira o preço da venda", type = "number", step = "0.01" })
                        @Html.ValidationMessageFor(model => model.PrecoVenda, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FabricanteID, "Fabricante", new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.FabricanteID, new SelectList(Model.Fabricantes, "Id", "Nome"), "Selecione um fabricante", new { @class = "form-control", id = "fabricanteDropdown" })
                        @Html.ValidationMessageFor(model => model.FabricanteID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VeiculoID, "Veículo", new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.VeiculoID, Enumerable.Empty<SelectListItem>(), "Selecione um fabricante primeiro", new { @class = "form-control", id = "veiculoDropdown" })
                        @Html.ValidationMessageFor(model => model.VeiculoID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConcessionariaID, "Concessionária", new { @class = "form-label" })
                        <div class="dropdown">
                            <input type="text" class="form-control" id="concessionariaInput" placeholder="Digite para filtrar..." onkeyup="FctFiltrarConcessionarias()" data-bs-toggle="dropdown" aria-expanded="false" />
                            <ul class="dropdown-menu w-100" id="concessionariaDropdown">
                                @foreach (var concessionaria in Model.Concessionarias)
                                {
                                    <li>
                                        <a class="dropdown-item" href="#" data-value="@concessionaria.Id" onclick="FctSelecionarConcessionaria('@concessionaria.Id', '@concessionaria.Nome')">
                                            @concessionaria.Nome
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @Html.HiddenFor(model => model.ConcessionariaID)
                        @Html.ValidationMessageFor(model => model.ConcessionariaID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClienteID, "Cliente", new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.ClienteID, new SelectList(Model.Clientes, "Id", "Nome"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClienteID, "", new { @class = "text-danger" })
                    </div>

                    <button id="submitButton" class="btn btn-primary w-100 py-2 mt-3" type="button" onclick="FctCadastrarVenda(event)">
                        Adicionar Venda
                        <span id="spinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/js/Venda/cadastrarVenda.js"></script>