@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Rendering

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - intelectah</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutApp.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/Shared/toastUtils.js"></script>
</head>
<body class="d-flex flex-column">

    <header style="width: 100%;">
        <nav class="navbar navbar-light bg-white">
            <div class="container d-flex justify-content-between align-items-center">
                <img src="~/img/logo-intelectah.png" alt="" width="220" height="46">

                <div class="d-flex align-items-center gap-5">
                    <a class="d-flex align-items-center text-dark font-weight-bold text-sm gap-2 nav-hover" target="_blank" href="https://www.linkedin.com/in/flávio-jcosta" style="transition: color 0.5s; text-decoration:none;">
                        <i class="bi bi-linkedin" style="font-size: 20px;"></i>
                        <span class="ml-2">LinkedIn</span>
                    </a>
                    <a class="d-flex align-items-center text-dark font-weight-bold text-sm gap-2 nav-hover" target="_blank" href="https://github.com/Flaviojcf" style="transition: color 0.5s; text-decoration:none;">
                        <i class="bi bi-github" style="font-size: 20px;"></i>
                        <span class="ml-2">GitHub</span>
                    </a>
                    <a class="d-flex align-items-center text-dark font-weight-bold text-sm gap-2 nav-hover" target="_blank" href="https://portfolio-flaviojcf.vercel.app/" style="transition: color 0.5s; text-decoration:none;">
                        <i class="bi bi-laptop" style="font-size: 20px;"></i>
                        <span class="ml-2">Portfólio</span>
                    </a>
                </div>


            </div>
        </nav>
    </header>


    <main role="main" class="flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column p-3 border-end border-light" style="width:280px; height: 100%;">

            <ul class="nav nav-pills d-flex flex-column fs-6 gap-4">
                <li class="nav-item custom-hover">
                    <a href="@Url.Action("Index", "DashBoard")" class="nav-link text-white @(IsActive("Index", "DashBoard"))">
                        <i class="bi bi-house-door pe-none me-2"></i>
                        Home
                    </a>
                </li>

                <li class="nav-item @(User.IsInRole("Administrador") ? "custom-hover" : "")">
                    @if (User.IsInRole("Administrador"))
                    {
                        <a href="@Url.Action("Fabricantes", "Fabricante")"
                           class="nav-link text-white @(IsActive("Fabricantes", "Fabricante"))">
                            <i class="bi bi-building pe-none me-2"></i>
                            Fabricantes
                        </a>
                    }
                    else
                    {
                        <a href="#"
                           class="nav-link text-muted disabled"
                           title="Acesso restrito"
                           style="pointer-events: none;">
                            <i class="bi bi-building pe-none me-2"></i>
                            Fabricantes
                        </a>
                    }
                </li>



                <li class="nav-item custom-hover">
                    @if (User.IsInRole("Gerente"))
                    {
                        <a href="@Url.Action("Veiculos", "Veiculo")"
                           class="nav-link text-white @(IsActive("Veiculos", "Veiculo"))">
                            <i class="bi bi-truck pe-none me-2"></i>
                            Veiculos
                        </a>
                    }
                    else
                    {
                        <a href="#"
                           class="nav-link text-muted disabled"
                           title="Acesso restrito"
                           style="pointer-events: none;">
                            <i class="bi bi-truck pe-none me-2"></i>
                            Veiculos
                        </a>
                    }
                </li>

                <li class="nav-item custom-hover">

                    @if (User.IsInRole("Administrador"))
                    {
                        <a href="@Url.Action("Concessionarias", "Concessionaria")"
                           class="nav-link text-white @(IsActive("Concessionarias", "Concessionaria"))">
                            <i class="bi bi-shop-window pe-none me-2"></i>
                            Concessionarias
                        </a>
                    }
                    else
                    {
                        <a href="#"
                           class="nav-link text-muted disabled"
                           title="Acesso restrito"
                           style="pointer-events: none;">
                            <i class="bi bi-shop-window pe-none me-2"></i>
                            Concessionarias
                        </a>
                    }
                </li>

                <li class="nav-item custom-hover">
                    @if (User.IsInRole("Vendedor"))
                    {
                        <a href="@Url.Action("Vendas", "Venda")"
                           class="nav-link text-white @(IsActive("Vendas", "Venda"))">
                            <i class="bi bi-cart pe-none me-2"></i>
                            Vendas
                        </a>
                    }
                    else
                    {
                        <a href="#"
                           class="nav-link text-muted disabled"
                           title="Acesso restrito"
                           style="pointer-events: none;">
                            <i class="bi bi-cart pe-none me-2"></i>
                            Vendas
                        </a>
                    }
                </li>

                <li class="nav-item custom-hover">
                    @if (User.IsInRole("Gerente"))
                    {
                        <a href="@Url.Action("Relatorios", "Relatorio")"
                           class="nav-link text-white @(IsActive("Relatorios", "Relatorio"))">
                            <i class="bi bi-file-earmark-bar-graph-fill pe-none me-2"></i>
                            Relatorios
                        </a>
                    }
                    else
                    {
                        <a href="#"
                           class="nav-link text-muted disabled"
                           title="Acesso restrito"
                           style="pointer-events: none;">
                            <i class="bi bi-file-earmark-bar-graph-fill pe-none me-2"></i>
                            Relatorios
                        </a>
                    }
                </li>
            </ul>

            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle me-2"></i>
                    <strong>@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="@Url.Action("Logout", "Usuario")">Sair</a></li>
                </ul>
            </div>

        </div>

        <div class="container container-center mt-5" style="height: 100%;">
            @RenderBody()
        </div>
    </main>

    <footer id="contato" class="bg-light text-center">
        <div class="container container-center p-4">
            © 2024 Flaviojcf - Todos os Direitos Reservados
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

@functions {
    private string IsActive(string actionName, string controllerName)
    {
        var routeData = ViewContext.RouteData.Values;
        string currentAction = routeData["action"] as string;
        string currentController = routeData["controller"] as string;

        return currentAction == actionName && currentController == controllerName ? "active" : "";
    }
}
