@model intelectah.MVC.Models.DashBoardViewModel

@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12">
            <h2 class="text-center text-white">Bem-vindo ao Sistema de Gestão</h2>
            <p class="text-center text-white">Aqui está uma visão geral das atividades recentes e status do sistema.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Veículos</h5>
                    <p class="card-text">@Model.TotalVeiculos veiculos cadastrados</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Concessionárias</h5>
                    <p class="card-text">@Model.TotalConcessionarias concessionárias registradas</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Vendas</h5>
                    <p class="card-text">30 vendas realizadas</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Fabricantes</h5>
                    <p class="card-text">@Model.TotalFabricantes fabricantes cadastrados</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="col-md-12 text-white">
            <h4>Atividades Recentes</h4>
            @if (Model.RecentActivities != null && Model.RecentActivities.Any())
            {
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Atividade</th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var activity in Model.RecentActivities)
                        {
                            <tr>
                                <td>@activity.Data.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@activity.Atividade</td>
                                <td>@activity.Detalhes</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Nenhuma atividade recente encontrada.</p>
            }
        </div>
    </div>
</div>
